body {
  /*font: 12px Arial;*/
  font: 11px sans-serif;
}

/*path {*/
  /*stroke: steelblue;*/
  /*stroke-width: 2;*/
  /*fill: none;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
  /*fill: none;*/
  /*stroke: grey;*/
  /*stroke-width: 1;*/
  /*shape-rendering: crispEdges;*/
/*}*/

/******* Test Chart *******/
.test-bar {
  height: 10px;
  background-color: blue;
  border-bottom: 1px solid white;
}

/******* Bar Chart *******/
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


/******* Scatter Plot *******/
/*.axis path,*/
/*.axis line {*/
  /*fill: none;*/
  /*stroke: #000;*/
  /*shape-rendering: crispEdges;*/
/*}*/

/*.dot {*/
  /*stroke: #000;*/
/*}*/

/*.tooltip {*/
  /*position: absolute;*/
  /*width: 200px;*/
  /*height: 28px;*/
  /*pointer-events: none;*/
/*}*/
